[submodule "doc/scipy-sphinx-theme"]
	path = doc/scipy-sphinx-theme
	url = https://github.com/scipy/scipy-sphinx-theme.git
[submodule "doc/sphinxext"]
	path = doc/sphinxext
	url = https://github.com/numpy/numpydoc.git
[submodule "numpy/core/src/npymath/softposit"]
	path = numpy/core/src/npymath/softposit
	url = https://gitlab.com/xman16/SoftPosit.git
